.sign-up-main { display: flex; flex-direction: column; -webkit-box-pack: center; justify-content: center; -webkit-box-align: center; align-items: center; width: 100%; margin: 24px auto 80px; }

/** Back 영역 시작**/
div.back { width: 100%; max-width: 1060px; padding-left: 20px; margin-bottom: 20px; }
button.back { font-size: 18px; color: #a4a4a4; background-color: transparent; border: none; display: flex; -webkit-box-align: center; align-items: center; gap: 6px; cursor: pointer; height: 32px; padding: 4px 7px; }
span.back, p.back { font-size: 24px; }
/** Back 영역 끝**/

/** 회원가입 Title 영역 시작 **/
div.title { width: 100%; max-width: 500px; background-color: #ffffff; }
h1.title { text-align: center; font-size: 36px; }
/** 회원가입 Title 영역 끝 **/

/* 회원가입 Form 영역 시작*/
div.sign-up { width: 100%; max-width: 500px; background-color: #ffffff; }
form.sign-up { margin-top: 56px; display: flex; flex-direction: column; gap: 48px; padding: 0 30px; }
div.sign-up-input { position: relative; box-sizing: border-box; margin: 0; padding: 0; }
div.sign-up-input div { position: relative; box-sizing: border-box; margin: 0; padding: 0; }

/* Label, Input */
label.input-label { font-size: 18px; text-align: left; }
.valid-input { width: 100%; height: 48px; min-height: 48px; outline: none; background-color: transparent; border: none; border-bottom: 2px solid #a4a4a4; font-size: 18px; font-weight: 400; }
.valid-input:focus { border-bottom: 2px solid #000000; outline: none; }
.valid-input::placeholder { color: #a4a4a4; }
.invalid-input { width: 100%; height: 48px; min-height: 48px; outline: none; background-color: transparent; border: none; border-bottom: 2px solid #ff0000; font-size: 18px; font-weight: 400; }

/* 중복확인, 주소찾기 버튼 */
.checking-verification, .finding-address { position: absolute; z-index: 1; top: 50%; right: -10px; transform: translateY(-21%); width: fit-content; height: fit-content; min-height: initial; background-color: transparent; padding: 10px; border-radius: 10px; font-size: 18px; border: none; cursor: pointer; color: #000000; }
.checking-verification:disabled, .valid-input:disabled { cursor: default; color: #dddddd; }
.invalid-caption { font-size: 16px; color: #ff0000; margin: 5px 0 0 0; }

/* 회원 가입 버튼*/
/** 회원 가입 Form 영역 끝 **/


/* 로그인 */
.sign-up-link { position: relative; padding-top: 48px; display: flex; flex-direction: column; gap: 30px; justify-content: center; border-top: 1px solid gray; -webkit-box-pack: center }
.login-or { font-weight: 600; text-align: left; letter-spacing: 0.025em; font-size: 12px; line-height: 16px; position: absolute; top: -10%; left: 50%; transform: translate(-50%, -50%); background-color: white; padding: 0 12px; color: gray; }
.login-bottom-extra-button-div { width: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center; gap: 8px; }

.login-buttons-section {display: flex; flex-direction: column; margin: 0 auto 16px auto; max-width: 360px; justify-content: center; gap: 16px; }

.kakao-login-button { width: 360px; display: flex; gap: 8px; justify-content: center; align-items: center; height: 48px; border-radius: 10px; padding: 0; background-color: #fee500; border: 1px solid #fee500; cursor: pointer }
.google-login-button,.email-login-button { width: 360px; display: flex; gap: 8px; justify-content: center; align-items: center; height: 48px; border-radius: 10px; padding: 0; background-color: #000000; border: 1px solid #000000; cursor: pointer }

span.login-svg { font-size: 18px; color: #000000; display: flex; align-items: inherit; justify-content: inherit; }
svg.login-svg {user-select: none; width: 1em; height: 1em; display: inline-block; fill: currentColor; flex-shrink: 0; font-size: inherit; }

p.kakao-login-button-text {color: #000000; text-align: left; letter-spacing: 0.01em; font-size: 20px; line-height: 22px; margin-top: 13px; margin-bottom: 13px;}
p.login-button-text {color: #ffffff; text-align: left; letter-spacing: 0.01em; font-size: 20px; line-height: 22px; margin-top: 13px; margin-bottom: 13px;}

/*.email-login-button { width: 360px; height: 50px; background-color: black; border: none; border-radius: 10px; font-size: 20px; color: white; cursor: pointer; }*/

/* Auth 관련 공통 */
.auth-button { width: 440px; height: 50px; background-color: black; border: none; border-radius: 10px; font-size: 20px; color: white; cursor: pointer; }
.auth-button:disabled { width: 100%; height: 50px; border: none; border-radius: 10px; font-size: 20px; color: rgba(55, 56, 60, 0.16); background-color: rgb(244, 244, 245); cursor: default; }
