/* 도서 검색 결과 */
.searchResult { display: flex; justify-content: center; width: 1000px; height: 75vh; }
.searchResult .book-list { display: grid; grid-template-columns: repeat(4, 1fr); gap: 50px; list-style: none; padding: 50px; margin: 0; }
.searchResult .book-list .book-detail { display: flex; flex-direction: column; align-items: center; text-align: center; }
.searchResult .book-list .book-detail .book img { max-width: 100%; height: 270px; }
.searchResult .book-list .book-detail .book-info { margin-top: 10px; width: 100%; }
.searchResult .book-list .book-detail .book-info dl { display: flex; justify-content: space-between; margin: 5px 0; }
.searchResult .book-list .book-detail .book-info dl dt, dd { margin: 0; }
.searchResult .book-list .book-detail .book-info dl dt { flex: 0 0 70px; text-align: left; }
.searchResult .book-list .book-detail .book-info dl dd { flex: 1; max-width: 30ch; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; text-align: left; }
/* 도서 검색 결과 */

.noResult { width: 100%; height: 300px; display: flex; justify-content: center; align-items: center; flex-direction: column; text-align: center; }
.noResult h4 { color: #a4a4a4; }
.noResult hr { border: solid 1px #a4a4a4; width: 500px; }
.noResult .buttons { display: flex; }
.noResult .buttons button {font-size: 20px;}
.noResult .buttons .requestISBN { width: 200px; height: 60px; border-radius: 10px; background-color: #FFE872; border: #FFE872; }
.noResult .buttons .request { background-color: #ADD8FF; border: #ADD8FF; }