* { font-family: "Jua", sans-serif; } 

/*헤더 영역*/
.header { height: 75px; border-bottom: solid gray 1px; display: flex; color: #ffffff; background-color: #000000; font-size: 24px } 
.header .logo { justify-content: center; align-content: center; text-align: center; margin-left: 50px; } 
.header .logo img { height: 50px; margin-top: 10px; } 
.header .menu-bar { height: 75px; display: flex; gap: 15px; margin-left: auto; align-items: center; justify-content: center; margin-right: 50px; } 
.header .menu-bar .menu { position: relative; height: 75px; display: flex; align-items: center; } 
.header .menu-bar .menu:hover { background: #1a1a1a } 
.header .menu-bar .menu .menu-name { color: white; text-decoration: none; margin: 0 17px; } 
.header .menu-bar .menu .dropdown-content { display: none; position: absolute; background-color: #ffffff; box-shadow: 0 8px 16px rgba(0,0,0,0.2); z-index: 1; width: 100%; top: 76px; } 
.header .menu-bar .menu .dropdown-content a { color: black; padding: 12px 16px; text-decoration: none; display: block; font-size: 16px; } 
.header .menu-bar .menu .dropdown-content a:hover { background-color: #ddd; } 
.header .menu-bar .menu:hover .dropdown-content,
.header .menu-bar .menu .dropdown-content:hover { display: block; } 
/*헤더 영역*/

/*메인 화면*/
.main { display: flex; justify-content: center; align-items: center; height: calc(100vh - 100px); flex-direction: column; } 
.main .main-text { font-size: 40px; margin-bottom: 20px; }
.main .main-search { display: flex; align-items: center; justify-content: center; align-content: center; border: solid 3px; padding: 0; border-radius: 5px;}
.main .main-search .search-div { padding-right: 5px; border-right:2px solid black; }
.main .main-search .search-select { background-color:transparent; padding: 8px; border: none; height: 50px; font-size: 18px; }
.main .main-search input { width: 500px; height: 50px; font-size: 20px; padding: 0 0 0 15px; border: none; border-right: 2px solid black; }
.main .main-search .search-button { border: none; background-color:transparent; }
.main .main-search .search-button img { display: flex; justify-content: center; align-items: center; width: 40px; } 
/*메인 화면*/

/*버튼*/
.submit-button { width: 100px; height: 50px; background-color: black; border: none; border-radius: 10px; font-size: 20px; color: white } 
.cancel-button { width: 100px; height: 50px; background-color: white; border: 1px solid black; border-radius: 10px; margin-right: 8px; font-size: 20px; } 
/*버튼*/

/*에러페이지*/
.error { display: flex; justify-content: center; align-items: center; height: calc(100vh - 100px); flex-direction: column; } 
.error .error404 { text-align: center; margin-bottom: 50px; font-size: 50px; } 
.error .error404 h1 { font-size: 120px; margin-bottom: 0; } 
.error .submit-button { width: 140px; height: 70px; padding: 10px 20px; font-size: 24px; } 
/*에러페이지*/