* { font-family: "Jua", sans-serif; } 
html,body,#root {height:100%;}

/*헤더 영역*/
.header { height: 75px; border-bottom: solid gray 1px; display: flex; color: #ffffff; background-color: #000000; font-size: 24px } 
.header .logo { justify-content: center; align-content: center; text-align: center; margin-left: 50px; } 
.header .logo img { height: 50px; margin-top: 10px;}
.header .menu-bar { display: flex; gap: 15px; margin-left: auto; align-items: center; justify-content: center; margin-right: 50px; }
.header .menu-bar .menu { color: white; text-decoration: none; margin-right: 20px; } 
/*헤더 영역*/

/*메인 화면*/
.main { display: flex; justify-content: center; align-items: center; height: calc(100vh - 100px); flex-direction: column; } 
.main .main-text { font-size: 40px; margin-bottom: 12px; } 
.main .main-search { display: flex; align-items: center; justify-content: center; align-content: center; border: solid 1px; padding: 0; } 
.main .main-search .search-div { padding-right: 5px; border-right: 1px solid black; } 
.main .main-search .search-select { padding: 8px; border: none; height: 50px; font-size: 18px; } 
.main .main-search input { width: 500px; height: 50px; font-size: 20px; padding: 0 0 0 15px; border: none; border-right: 1px solid black; } 
.main .main-search .search-button { border: none; background-color: white; } 
.main .main-search .search-button img { display: flex; justify-content: center; align-items: center; width: 40px; } 
/*메인 화면*/

/*버튼*/
.submit-button { width: 100px; height: 50px; background-color: black; border: none; border-radius: 10px; font-size: 20px; color: white } 
.cancel-button { width: 100px; height: 50px; background-color: white; border: 1px solid black; border-radius: 10px; margin-right: 8px; font-size: 20px; } 
/*버튼*/

/*에러페이지*/
.error { display: flex; justify-content: center; align-items: center; height: calc(100vh - 100px); flex-direction: column; }
.error .error404 {text-align: center; margin-bottom: 50px; font-size: 50px;}
.error .error404 h1 {font-size: 120px; margin-bottom: 0; }
.error .submit-button { width: 140px; height: 70px; padding: 10px 20px; font-size: 24px;}
/*에러페이지*/